.cardSection{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: linear-gradient(215deg, white, #c1c1c1);
    
}
.cardSection> h2{
    text-align: center;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1080px;
    width: 80%;
    margin: 0 auto;
}
.cardItems{
    margin-bottom: 10px;
}
/* cardItem */
.cardItem{
    display: inline-flex;
    border-radius: 10px;
    width: 24%;
    height: 210px;
    margin-right: 10px;
    box-sizing: border-box;
}
.cardItem:last-child{
    margin-right:0px;
}
.cardItemLink{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 10px rgba(56,122,255,0.61);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.cardItemWrap{
    position: relative;
    width: 100%;
    height:100%;
    padding: 0;
    margin:0;
    overflow: hidden;
}
.cardItemWrap::after{
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 2px 4px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    box-sizing: border-box;
    left: 0;
    background-color: #358a90;
}
.cardItemImg{
    width:100%;
    height:100%;
    transition: all 0.3s ease-out;
}
.cardItemImg:hover{
    transform: scale(1.2);
    
}
.cardInfo{
    width:100%;
    height: 60px;
    text-align: center;
    
}
.cardText{
    color: #000;
    display: inline-block;
    box-sizing: border-box;
}
.cardInfo:hover{
    background: rgba(56,122,255,0.61);
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 960px){
    .cardItems{
        display: flex;
        flex-direction: column;
    }
    .cardItem{
        width: 300px;
        height: 262px;
        margin-bottom: 10px;
    }
}