.serviceContainer{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.serviceItems{
   width: 50%;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px auto;
   box-sizing: border-box;
   
}
.serviceWrap{
    width: 70%;
    height: 100%;
    margin-right: 5%;
    border-radius: 20px;
    overflow: hidden;
    
}
.serviceWrap img:hover{
    transform: scale(1.2);
    
}
.serviceItems:hover>.serviceInfo{
    
    position: relative;
    top: -90px;
   
}

.serviceItems:hover>.serviceInfo::after{
    content: 'Lets go website!';
    display: block;
    margin-top: 20px;
    padding-bottom: 4px;
    color: #faa02a;
    font-weight: bold;
}
.serviceLink{
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.serviceLink> img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: all .9s linear;
}
.serviceInfo{
    border-bottom: 3px solid #000;
    box-sizing: border-box;
    text-align: start;
    width: 30%;
    position: relative;
    top: 0px;
    transition: all .5s ease;
}
.serviceInfo h2{
    font-size: 24px;
    padding: 0 0 10px 0;
    margin: 0;
    color: #912934;
    font-weight: bolder;
}
.serviceInfo p{
    font-size: 18px;
    padding:0;
    margin:0;
    color: #48484c;
    font-weight: 600;
}